/* global.css */
:root {
    --primary-bg-light: #007bff;
    --primary-bg-dark: #ffffff;
    --text-light: #ffffff;
    --text-dark: #000000;
    --btn-light-bg: #ffffff;
    --btn-light-text: #007bff;
    --btn-light-hover-bg: #e2e6ea;
    --btn-light-hover-text: #0056b3;
  }
  
  [data-theme='dark'] {
    --primary-bg: var(--primary-bg-dark);
    --text-color: var(--text-light);
    --btn-light-bg: var(--btn-light-bg);
    --btn-light-text: var(--btn-light-text);
    --btn-light-hover-bg: var(--btn-light-hover-bg);
    --btn-light-hover-text: var(--btn-light-hover-text);
  }
  
  [data-theme='light'] {
    --primary-bg: var(--primary-bg-light);
    --text-color: var(--text-dark);
  }
  